{% extends 'goods/list.html' %}

{% block link %}
    <script>
        $(function () {
            $(".add_goods").click(function () {
                var goods_id = $(this).prev().text();
                $.get("/cart/add/"+ goods_id +"/"+1+"/", function (data) {
                $("#show_count").text(data.cart_count);
             });
            });
        })

    </script>
{% endblock %}

{% block right %}
    <div class="r_wrap fr clearfix">
			<div class="sort_bar">

				    <a href="/search/?q={{ goods_name }}&page={{ my_page.number }}&sort=default" {% if sort == 'default' %} class="active" {% endif %}>默认</a>

				    <a href="/search/?q={{ goods_name }}&page={{ my_page.number }}&sort=price" {% if sort == 'price' %} class="active" {% endif %}>价格</a>

				    <a href="/search/?q={{ goods_name }}&page={{ my_page.number }}&sort=popular" {% if sort == 'popular' %} class="active" {% endif %}>人气</a>

			</div>

			<ul class="goods_type_list clearfix">
                {% for goods in my_page %}
				<li>
					<a href="/goods/detail/{{ goods.object.id }}/"><img src="{{ goods.object.pic }}"></a>
					<h4><a href="/goods/detail/{{ goods.object.id }}/">{{ goods.object.goods_name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ goods.object.price }}</span>
						<span class="unit">{{ goods.object.price }}/{{ goods.object.unit }}</span>
                        <span style="display: none">{{ goods.object.id }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% empty %}
                    <h2>什么都没有找到</h2>
                {% endfor %}

			</ul>

			<div class="pagenation">
                {% if my_page.has_previous %}
                    <a href="/search/?q={{ goods_name }}&page={{ my_page.previous_page_number }}&sort={{ sort }}">上一页</a>
                {% endif %}
                {% for num in my_paginator.page_range %}
                    {% if my_page.number == num %}
                        <a href="/search/?q={{ goods_name }}&page={{ num }}&sort={{ sort }}" class="active">{{ num }}</a>
                        {% else %}
                        <a href="/search/?q={{ goods_name }}&page={{ num }}&sort={{ sort }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
				{% if my_page.has_next %}
                    <a href="/search/?q={{ goods_name }}&page={{ my_page.next_page_number }}&sort={{ sort }}">下一页</a>
                {% endif %}
			</div>
		</div>
{% endblock %}