{% extends 'base.html' %}
{% load static %}

{% block search %}
    <div class="search_bar clearfix">
		<a href="{% url 'goods:index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{{ title }}</div>
        <form action="/search/" method="get">
        <div class="search_con fr">
			<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" name="" value="搜索">
		</div>
        </form>
	</div>
{% endblock %}
{% block body %}
    <div class="main_con clearfix">
    <div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/account/info/" {% if title == "个人信息" %}class="active"{% endif %}>· 个人信息</a></li>
				<li><a href="/account/all_order/1" {% if title == "全部订单" %}class="active"{% endif %}>· 全部订单</a></li>
				<li><a href="{% url 'user:address' %}" {% if title == "收货地址" %}class="active"{% endif %}>· 收货地址</a></li>
			</ul>
    </div>
    {% block right_menu_con %}
    {% endblock %}
</div>
{% endblock %}